NODE_ENV = 'development'
PORT = 5500

# Database Control
DB_USER=""
DB_HOST=""
DB_NAME=""
DB_PORT=5432
DB_PASSWORD=""

# JWT Auth
JWT_SECRET=""
JWT_EXPIRES_IN="1d"

#Cookie Age
COOKIE_AGE = 7

#Password Hasing 
SALT_ROUNDS=12